@font-face {
  font-family: "custom";
  src: local("AdonisC"), url("https://pereklady.pp.ua/fonts/AdonisC.ttf");
}

body {
  color: #444;
  font-family: "custom", "PT Serif", Georgia, Times, "Times New Roman", serif;
  margin: 1rem;
}

h1 {
  text-align: center;
}

body, .markdown-style {
  font-size: 115%;
}
